*{
    padding: 5px;
    margin: 5px;
}

body{
    background-color: pink;
    padding: 5px;
    margin: 5px;
}
.me{
    background-color: red;
}
.me ul li{
    display: inline-block;
}
.me ul li a{
    color: #fff;
}
.had{
    background-color: green;
    text-align: center;
    color: #fff;
}

.lov{
    display: inline-block;
    background-color: peru;
    padding: 5px;
    margin: 5px;
}